html,
body,
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.item_image {
    width: 7.5rem;
    height: 7.5rem;
}

.auction_item {
    background-color: grey;
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
}

.item_header {
    font-size: 1rem;
    color: white;
}

.auctions_container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(6, 20rem);
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.item_info_display {
    background-color: gray;
    width: 25%;
    height: 100vh;
    justify-content: right;
    display: flex;
    position: fixed;
}

.auction_display {
    justify-content: space-between;
    display: flex;
    width: 100%;

}