html,
body,
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}
body
{
     background-color: white;
}
.item_image
{
    width:7.5rem;
    height:7.5rem;
}
.auction_item
{
    background-color: black;
    width:20rem;
    height:20rem;
    align-items: center;
    justify-content: center;
    display: center;
}
.item_header
{
    font-size: 1rem;
    color:white;
}
.auctions_container
{
    width:100%;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(15, 1fr);
    gap:1rem;
}